<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-button vertical="bottom" horizontal="center  " id="Alerta">Mensaje</ion-button>
  <ion-alert trigger="Alerta" header="Mensaje" subHeader="de Prueba"
    message="Mensaje" [buttons]="alertButtons"></ion-alert>   

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>