<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kevin Moreno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <!-- encabezado -->

  <div class="container-vc">


    <div class="header">
      <ion-img class="mi-imagen" src="assets/kev.jpg"></ion-img>

      <div class="lefth_side">


      </div>
      <div class="right_side">

        <h1 style="color: rgb(121, 121, 121); font-size: 40px;">Kevin Moreno</h1>
        <h2>09/11/2000</h2>
        <h2>Tecnologo superior en desarrollo de software</h2>

      </div>



    </div>

    <div class="About_me">
      <h1 style="color: rgb(121, 121, 121); font-size: 40px;">Sobre mi:</h1>
      <h2>Estudiante de tecnología superior en
        desarrollo de software, me encuentro
        actualmente cursando el 4to semestre,
        toda mi vida me encontré interesado en
        los equipos de computo y en los
        diferentes tipos de programas o
        herramientas que se pueden encontrar
        dentro de estas</h2>
    </div>




    <div class="About_me">
      <h1 style="color: rgb(121, 121, 121); font-size: 40px;">Formacion:</h1>
      <h2 style="font-size: 25px; font-style: italic;">Bachillerato General</h2>
      <h2>2018</h2>

      <h2 style="font-size: 25px; font-style: italic;">Tecnologia Superior en desarrollo de software</h2>
      <h2>Abril - 2023</h2>
      <h2>Escuela Politecnica Nacional</h2>
    </div>

    <div class="line"></div>


    <div class="footer">

    <div class="contact">
      <h1 style="color: rgb(121, 121, 121); font-size: 40px;">Contacto:</h1>
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="call-outline" slot="start"></ion-icon>
          <ion-label>0983013858</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="locate-outline" slot="start"></ion-icon>
          <ion-label>Quito, Beaterio</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
          <ion-label>
            kevin.moreno01 epn.edu.ec
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="logo-github" slot="start"></ion-icon>
          <ion-label>https://github.com/KevinxDx3</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="contact1">
      <h1 style="color: rgb(121, 121, 121); font-size: 40px;">Habilidades:</h1>
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="logo-python" slot="start" ></ion-icon>
          <ion-label class="bar">70%</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="logo-javascript" slot="start"></ion-icon>
          <ion-label class="bar2"> 80%</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="logo-react" slot="start"></ion-icon>
          <ion-label class="bar3">
           75%
          </ion-label>
        </ion-item>
       
      </ion-list>
    </div>

  </div>






  </div>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>