.container-vc{
    display: flex;
    flex-direction: column;   

}

.mi-imagen{
    
    width: 70%;
    max-width: 200px;
    height: auto;
    margin: 50px;
    
}

.header{
    display: flex;
    flex-direction: row;   
  
}

.lefth_side{
    margin-top: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #000000;
    padding-left: 10px;
    justify-content: center;
    
    


}

.right_side{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-top: 30px;
    padding-top: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    
    
}

.About_me{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: 70px;
    margin-top: 50px;
}

.line {
    border-bottom: 1px solid #000000;
    color: #000000;
    text-align: justify; 
    margin: 50px;
}

.contact{
    
    flex: 1;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}
.contact1{
    
    flex: 1;
    margin-left: 50px;
}

.bar{
    background-color: #7a7a7a;
    border-radius: 10px;
    padding-left: 10px;
    color: #ffffff;
    margin-right: 30%;
    
   
}

.bar2{
    background-color: #7a7a7a;
    border-radius: 10px;
    padding-left: 10px;
    color: #ffffff;
    margin-right: 20%;
   
}

.bar3{
    background-color: #7a7a7a;
    border-radius: 10px;
    padding-left: 10px;
    color: #ffffff;
    margin-right: 25%;
   
}
