<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kevin Moreno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <!-- encabezado -->

  <div class="container-vc">
    <div class="header">

      <div class="lefth_side">
        <ion-img class="mi-imagen" src="assets/rch.jpg"></ion-img>
        <h1>hola</h1>
      </div>
      <div class="right_side">
        <h1>jsada</h1>
      </div>

    </div>


  </div>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>